.carousel__container {
    height:415px;
    mix-blend-mode: normal;
    border-radius: 25px;
    margin: 20px 100px 24px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.carousel__img {
    position: relative;
    height: 415px;
    width: 100%;
    border-radius: 25px;
    object-fit: cover;
}

.arrow__left {
    position: absolute;
    z-index: 1;
    margin-left: 23.36px;
}

.arrow__right {
    position: absolute;
    z-index: 1;
    right: 100px;
    margin-right: 23.36px;
}

.number {
    color: white;
    text-decoration: none;
    position: relative;
    top: -75px;
}


@media screen and (max-width:426px) {
    
    .carousel__container {
        height: 255px;
        margin: 27px 20px 0px 20px;
        border-radius: 10px;
    }

    .carousel__img {
        height: 255px;
        border-radius: 10px;
    }

    .arrow__left {
        width: 11.67px;
        height: 19.8px;
    }

    .arrow__right {
        width: 11.67px;
        height: 19.8px;
        right: 20px;
    }

    .number {
        top: -35px;
    }
}