.carousel__container {
    height:415px;
    background-color:#FF6060;;
    mix-blend-mode: normal;
    border-radius: 25px;
    margin: 20px 100px 24px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrow__left {
    margin-left: 23.36px;
}

.arrow__right {
    margin-right: 23.36px;
}

.number {
    color: white;
    text-decoration: none;
    position: relative;
    top: -75px;
}


@media screen and (max-width:426px) {
    
    .carousel__container {
        height: 255px;
        margin: 27px 20px 15px 20px;
    }

    .arrow__left {
        width: 11.67px;
        height: 19.8px;
    }

    .arrow__right {
        width: 11.67px;
        height: 19.8px;
    }

    .number {
        top: -50px;
    }
}