.nav__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: auto 100px auto 100px
}

.kasa__logo img{
    width:210.32px;
    height:68px;
}

.navigation {
    display: flex;
    gap: 57px;
}

.nav__link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%;
    text-align: right;
    text-decoration-line: underline;
    color: #FF6060;
    white-space: nowrap;
}

@media screen and (max-width: 426px) {

    .nav__container{
        margin: 20px;
    }

    .navigation {
        display: flex;
        gap: 20px;
    }

    .kasa__logo img{
        width: 145px;
        height:47px;
    }

    .nav__link {
        font-size: 12px;
    }
}