main {
    margin: 63px 100px auto 100px;
}

.card__box {
    background: #F7F7F7;
    width: 100%;
    border-radius: 25px;
    display: flex;
    margin-bottom: 100px;
}

.cards {
    margin: 56px 50px 56px 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:60px;
    justify-content: center;
}

.card__place {
    width: 30%;
}
@media screen and (max-width: 426px) {
     
    main {
        margin: 0px 20px 0px 20px;
    }

    .card__box {
        background-color: white;
    }

    .card__place {
        width: 100%;
    }

    .cards {
        margin: 0px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }
}