main {
    margin: 63px 100px auto 100px;
}

.card__box {
    background: #F7F7F7;
    width: 100%;
    border-radius: 25px;
}

.cards {
    margin: 56px 50px 56px 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:60px;
}